<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
id="WebApp_ID" 
version="3.1">
  <display-name>web01</display-name>
  
  <!-- 
  <listener>
    <listener-class>step09.Listener01</listener-class>
  </listener>
   -->

  <!-- 
  <filter>
    <filter-name>step10.Filter01</filter-name>
    <filter-class>step10.Filter01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>step10.Filter01</filter-name>
    <url-pattern>/step10/*</url-pattern>
  </filter-mapping>
   -->
  
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
 <!-- 
   <servlet>
    <servlet-name>servlets.step01.Servlet01</servlet-name>
    <servlet-class>servlets.step01.Servlet01</servlet-class>
  </servlet>
-->

  <servlet>
    <servlet-name>step08.Servlet02</servlet-name>
    <servlet-class>step08.Servlet02</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
<!-- 
  <servlet-mapping>
    <servlet-name>servlets.step01.Servlet01</servlet-name>
    <url-pattern>/step01/Servlet01</url-pattern>
  </servlet-mapping>
-->  
  
</web-app>

